body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  border: 40px solid transparent;
  box-sizing: border-box;
  
  background-image: url("images/flamebackground.gif");
  background-repeat: repeat;
  background-position: top left;

  font-family: 'Roboto mono';
  font-size: 14px;
  color: white;
}

.leftshoulder {
  position: fixed;
  top: 40px;
  left: 40px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox {
  width: 50%;
  background-color: #000000;
  text-align: center;
  padding: 20px;
  border: 3px solid #FF0000;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  padding: 5px;
  width: 25%;

  float: left;
  color: red;
  text-align: center;
  text-decoration: underline;
  font-size: 10px;

  background-repeat: repeat;
  background-position: top left;g
}

.navbar a.active {
  background-image: url("images/flamebackground2.gif");
  color: black;
}

.navbar a.ocean {
  color: blue;
}

.navbar a.ocean:hover {
  background-image: url("images/oceanbackground2.gif");
  color: white;
}

.navbar a.jungle {
  color: darkgreen;
}

.navbar a.jungle:hover {
  background-image: url("images/junglebackground2.gif");
  color: white;
}

.navbar a.desert {
  color: gold;
}

.navbar a.desert:hover {
  background-image: url("images/desertbackground2.gif");
  color: black;
}

.content {
  text-align: center;
}

.content h1 {
  text-decoration: underiine;
}


