body {
  background-image: url('https://i.imgur.com/n1dLSmj.gif');
  background-repeat: repeat;
  background-position: top left;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000000;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertically {
  width: 50%;
  background-color: #F0F0F0;
  text-align: center;
  padding: 20px;
  border: 3px solid #FF0000
}
