body {
  background-image: url('https://i.imgur.com/n1dLSmj.gif');
  background-repeat: repeat;
  background-position: top left;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000000;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox {
  width: 50%;
  background-color: #000000;
  text-align: center;
  padding: 20px;
  border: 3px solid #FF0000;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 5px;
  color: red;
  text-decoration: underline;
  font-size: 10px;
  width: 23.4%;
  text-align: center;
}

.navbar a.active {
  background-color: red;
  color: white;
}

.navbar a.ocean {
  color: blue;
}

.navbar a.jungle {
  color: darkgreen;
}

.navbar a.desert {
  color: gold;
}

.content {
  text-align: center;
}

.content h1 {
  text-decoration: underiine;
}


